body {
  background-color: #3a537a;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: max(28px, 3vw);
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: black;
  background-color: white;
  width: 50%;
  border-radius: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: #152a48;
  padding: 15px 20px;
  border-radius: 30px;
  border: 2px solid white;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  margin: 20px;
  min-height: 30px;
  border-radius: 30px;
}

label {
  text-align: start;
  padding: 0px 30px;
}

.helden {
  list-style-type: none;
  font-size: 6vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input_name {
  border: none;
  padding: 5px 20px;
  font-size: 20px;
}

.slogan {
  font-size: 48px;
}

.beschreibung {
  font-size: 20px;
}

.button {
  padding: 40px;
}

.naruto-bild {
  border-radius: 200px;
  border: 5px solid white;
  opacity: 0.5;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.flex-left {
  width: 100%;
  display: flex;
  align-items: start;
}

@media (min-width: 800px) {
  .grid-2 {
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .back-button p {
    font-size: 30px;
  }
}